<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <span class="navbar-brand text-white">
                <img style="width:50px" src="https://i.ibb.co/p3LWHK5/photo-2021-08-15-16-20-59.jpg">
                HUMAN HOST</span>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:classappend="${activePage == 'home'} ? active" aria-current="page"
                           th:href="@{/}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:classappend="${activePage == 'ml-model'} ? active"
                           th:href="@{/ml-model}">ML-модель</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</header>
</html>
