<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>JsonOrHtmlQualifier</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background-color: black;">
<div>
    <header th:replace="fragments/header :: header"></header>
</div>
<div class="container">
    <h1 class="text-center text-white">Определение формата данных</h1>
    <br>
    <form th:object="${entity}" th:method="post">
        <div class="form-group">
            <label for="link" class="text-white">Введите URL адрес:</label>
            <input th:field="*{link}" type="text" class="form-control" id="link" required>
        </div>
        <br>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success"><i class="fa fa-search" aria-hidden="true"></i>
                Узнать формат данных!
            </button>
        </div>
    </form>
    <br>
    <label for="currentEntity" class="text-white">Текущий запрос:</label>
    <table id="currentEntity" class="table table-hover table-striped">
        <thead>
        <tr class="table-secondary">
            <th class="col-4" scope="col">URL адрес</th>
            <th class="col-6" scope="col">Вероятность пользовательского класса, %</th>
            <th class="col-2" scope="col">Формат данных</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${currentEntity == null}" class="table-secondary">
            <td th:text="${currentEntity.link}"></td>
            <td th:text="${currentEntity.probability}"></td>
            <td th:text="${currentEntity.dataType}"></td>
        </tr>
        <tr th:if="${currentEntity == null}" class="table-secondary">
            <td colspan="4">Сделайте запрос</td>
        </tr>
        </tbody>
    </table>
    <br>
    <label th:if="${!urls.isEmpty}" for="history" class="text-white">История запросов:</label>
    <table id="history" th:if="${!urls.isEmpty}" class="table table-striped table-hover">
        <thead>
        <tr class="table-secondary">
            <th class="col-4" scope="col">URL адрес</th>
            <th class="col-6" scope="col">Вероятность</th>
            <th class="col-2" scope="col">Формат данных</th>
        </tr>
        </thead>
        <tbody>
        <tr th:unless="${urls.isEmpty}" th:each="url : ${urls}" class="table-secondary">
            <td th:text="${url.link}">example.com</td>
            <td th:text="${url.probability}"></td>
            <td th:text="${url.dataType}"></td>
        </tr>
        <tr th:if="${urls.isEmpty}" class="table-secondary">
            <td colspan="4">История запросов пуста</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
